<div class="row">
    <div class="col s12" style="padding:0;">
        <div class="card hoverable">
            <div class="card-content z-depth-2">
                <span class="card-title">share your new group here: </span>

                <div class="row " style="margin: 0;">

                    <div class="col s12 offset-s3" id="panell" style="margin: 0; padding:0">
                        <form method="POST" action="/profile/<%= id %>/add-link" id="myform2_id"  enctype="multipart/form-data">

                            <div class="input-field" id="groupname">
                                <input  type="text" placeholder="Enter your groupname" name="name">
                            </div>
                            <div class="input-field" id="link">
                                <input  type="text" placeholder="Enter your link" name="groupLink">  
                            </div>

                             <div class="file-field input-field">
                                <div class="btn deep-purple accent-3">
                                    <span>upload group image</span>
                                    <input type="file" name="image" id="image" >
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                         
                            <input  type="hidden" name="_csrf" value=<%= csrfToken %> >
                            
                        </form>
                        <textarea form ="myform2_id" name="body" id="taid" cols="35" wrap="soft" placeholder="description about your group"></textarea><br><br>
                        
                        <a class="waves-effect waves-light btn deep-purple accent-3" 
                        id="loginbtn" href="javascript:$('#myform2_id').submit();">
                        <i class="material-icons right">send</i>
                            submit
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>