
<!-- Footer -->
<footer class="page-footer deep-purple accent-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Linky</h5>
                <p class="grey-text text-lighten-4">
                     I created this website so that finding a group on any social media can be liitle bit pleasant experience than usual.
                     Amet est ipsum ipsum ut minim quis eiusmod qui. Quis aute consectetur exercitation non et. Consectetur aliqua nostrud ullamco Lorem minim consectetur sunt anim enim officia proident ad aliqua. Lorem commodo qui exercitation pariatur duis ex amet quis deserunt anim sint commodo. Nulla non ullamco laborum sit Lorem incididunt. Adipisicing aliqua ea nostrud exercitation culpa id aliqua dolore adipisicing ad non. Aute ex amet enim ipsum occaecat sint consectetur enim ea ullamco tempor.
                </p>
            </div>
            <div class="col l3 s12 right">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li>
                        <a href="#!" class="grey-text text-lighten-3">contact me at: </a>
                    </li>
                    <li>
                        <a href="#!" class="grey-text text-lighten-3">vigneshwar221b@gmail.com</a>
                    </li>
                    <li>
                        <a href="#!" class="grey-text text-lighten-3">+91 6369 047626</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright Text
        </div>
    </div>
</footer>


</body>
</html>