<%- include('../includes/header.ejs') %>

signup page
<form action="/signup" method="POST">
    email:<input type="text" name="email"><br>
    username:<input type="text" name="username"><br>
    password:<input type="text" name="password"><br>
    confirm password:<input type="text" name="confirmpassword"><br>
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    <input type="submit" name="submit">
</form>

already have a account?<a href="/login">login</a>

<%- include('../includes/footer.ejs') %>