<%- include('../includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/post.css" />
<script src="/js/post.js"></script>


<div class = "container">
    <div class="row">
        <div class="col">
            <div class="card purple accent-4">

                <div class="card-content white-text">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                </div>

                <div class="card-action">
                    <a href="${el.groupLink}"
                    class="modal-close waves-effect waves-light btn pulse red accent-2">view</a>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs') %>