<%- include('../includes/header.ejs') %>

<link rel="stylesheet" type="text/css" href="/css/search.css" />
<script src="/js/search.js"></script>

<div class="container" style="margin-bottom: 300px">
    <div class="row s12" style="margin-bottom: 10px">
        <div class="col s1"></div>
            <div class="col s10">
            
                <div class="card-panel z-depth-3" 
                style="padding-left: 17px; padding-right: 17px;padding-top: 3px;padding-bottom: 3px; margin-top:35px">

                    <input type="text" id="search-box" 
                    autocomplete="off" onkeyup="onSearch()"
                    placeholder="search ..."></input>
                    
                </div>

            </div>
        <div class="col s1"> </div>
    </div>

    <!-- tools -->
    <div class="row s12 " id="tools" style="margin-bottom: 0;"> 
          <div class="input-field col s8" style="height: 30px; width: 350px">
            <select multiple id="type">

                <option value="all" disabled selected >select type</option>
               
                <option value="whatsapp" selected>whatsapp</option>
                <option value="discord" selected>discord</option>
                <option value="telegram" selected>telegram</option>

            </select>
        </div>

        <div class="col s4 right" id="in-div" style ="padding: 10px; margin: 20px 2px 20px">
            <form id="myForm" class="right">
                <label>
                    <input name="radioName" type="radio" value ="group" checked />
                    <span>group</span>
                </label>
                
                <label>
                    <input name="radioName" type="radio" value="profile"/>
                    <span>profile</span>
                </label>
            </form>
              
        </div>
    </div>

    <div class="row s12" id="pagination" style="margin-top: 60px">  
       
    </div>

    <!-- results -->
    <div class="row s12" id="resArea" style="margin-top: 30px">  </div>

</div>

<%- include('../includes/footer.ejs') %>